<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" id="brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="active">
                <a class="btn  btn-outline-primary my-2 my-sm-0 nav-link btn-menu" [routerLink]="['/home']"
                    [routerLinkActive]="'btn-outline-primary2'">Home</a>
            </li>
            <li class="nav-item" *ngIf="this.isLoggedIn">
                <a class="nav-link btn btn-outline-primary my-2 my-sm-0 nav-link nav-link.active btn-menu" [routerLink]="['/users/all']"
                    [routerLinkActive]="'btn-outline-primary2'" [routerLinkActiveOptions]="{exact: true}">Users</a>
            </li>
            <li class="nav-item" *ngIf="this.isLoggedIn">
                <a class="nav-link btn btn-outline-primary my-2 my-sm-0 nav-link nav-link.active btn-menu" [routerLink]="['/users/devices']"
                    [routerLinkActive]="'btn-outline-primary2'" [routerLinkActiveOptions]="{exact: true}">Time Travel</a>
            </li>
        </ul>

        <ng-container *ngIf="!this.isLoggedIn">
            <button class="nav-link btn btn-outline-primary my-2 my-sm-0 " [routerLink]="['/users/register']">Register</button>
            <button class="nav-link btn btn-outline-primary my-2 my-sm-0" [routerLink]="['/users/login']">Login</button>
        </ng-container>
        <ng-container *ngIf="this.isLoggedIn">


            <ng-container *ngIf="this.isLoggedIn"></ng-container>
            <button class="nav-link btn btn-outline-primary my-2 my-sm-0 nav-link nav-link.active btn-menu"
                [routerLink]="['/users/add-engineer']" [routerLinkActive]="'btn-outline-primary2'">Add
                Engineer</button>
            <button class="nav-link btn btn-outline-primary my-2 my-sm-0 nav-link nav-link.active btn-menu"
                [routerLink]="['/users/add-device']" [routerLinkActive]="'btn-outline-primary2'">Add
                Device</button>
            <button class="nav-link btn btn-outline-primary my-2 my-sm-0 btn-menu" (click)="this.logout()">Logout</button>
        </ng-container>
    </div>
</nav>