/* You can add global styles to this file, and also import other style files */

.input-form {
    margin: auto;
    width: 30%;
}

.btn-menu {
    background: transparent;
    border-color: #f90;
    color: #f90;
    border: none
}

.nav-link.active {
    background-color: transparent;
    border: 1px solid;
    border-radius: 12px;
    border-color: #f90;
    color: black;
    color: #f90;
}

.navbar-brand {
    color: #f90
}

body {
    height: 100%;
    background-image: url("Untitled-2.jpg");
    color: #f90;

}

.nav-link {
    color: #f90;
}

.btn-outline-primary {
    background-color: transparent;
    outline: #007bff;
    background: transparent;
    color: #f90;

}

.btn-primary {
    color: #f90;
    background-color: transparent;
    border: 1px solid;
    border-radius: 12px;
    border-color: #f90;
}

.active {
    background-color: transparent;
    color: #f90;
    
}

.btn-outline-primary2 {
    color: #f90;
    background-color: transparent;
    outline: #f90;
    background: transparent;
    border: 1px solid;
    border-radius: 12px;
    border-color: #f90;
}

.nav-link {
    color: #f90
}

button {
    color: #f90
}

.agm-map-container-inner {
    border-radius: 12px;
    border: 2px solid #f90
}

.navbar a {
    color: #f90 !important;
}

.navbar-brand:before {
    content: 'In';
    color: white;
    font-weight: bold;
}

.navbar-brand:after {
    content: 'Time';
    color: black;
    background-color: #f90;
    border-radius: 12px;
    padding: 5px;
    font-weight: bold;
}

#brand {
    font-size: 1.5rem
}

.ag-cell {
    background: black;
    color: white
}

.ag-center-cols-viewport {
    background: black;
    color: white
}

.tables {
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

h1 {
    text-align: center;
    padding: 20px;
    text-shadow: 0 0 5px black;
}